<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - History Jeopardy</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/game.css" asp-append-version="true"/>
</head>
<body>
<header>
    <h1>History Jeopardy</h1>
</header>
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="text-muted">
    <div class="container">
        History Jeopardy <span class="copyleft"></span> 2021 (<a href="https://github.com/dedlocc/history-jeopardy">GitHub</a>)<br>
        Licensed under AGPLv3
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/main.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>