@{
    ViewData["Title"] = "Create Game";
}

@if (ViewData.ContainsKey("player")) {
    <h1>Hello, @((ViewData["player"] as Player)!.Name)</h1>
}

<form id="player-form">
    <div class="mb-3">
        <label for="username-input" class="form-label">Юзернейм</label>
        <input type="text" id="username-input" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="~/js/game.js" asp-append-version="true"></script>
}