@*@{
    ViewData["Title"] = "Create Game";
}

<div id="play-form">
    <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="create-btn">New game</button>
        </div>
        <div class="col-2 or">or</div>
        <div class="col-7">
            <div class="input-group">
                <input type="text" name="invite-code" class="form-control"
                       minlength="@Game.InviteCodeLength" maxlength="@Game.InviteCodeLength" placeholder="Invite code">
                <button type="button" class="btn btn-secondary" id="join-btn">Join</button>
            </div>
        </div>
    </div>
</div>*@