@using HistoryJeopardy.Models.Answers
@using HistoryJeopardy.Util
@model Question
@{
    var question = Model!;
    var answer = question.Answer;
}

<div class="content">
    @if (question.PictureUri is not null) {
        <img class="picture" src="@question.PictureUri" alt="Вопрос-картинка">
    }
    <p class="text">@question.Text</p>
</div>

<form id="answer-input">
    @switch (answer) {
        case SingleOptionAnswer a:
            @foreach (var (option, i) in a.Options.All.Shuffle().Select((e, i) => (e, i))) {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer-@i">
                    <label class="form-check-label" for="answer-@i">@option</label>
                </div>
            }
            break;
        case MultiOptionAnswer a:
            @foreach (var (option, i) in a.Options.All.Shuffle().Select((e, i) => (e, i))) {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="answer" id="answer-@i">
                    <label class="form-check-label" for="answer-@i">@option</label>
                </div>
            }
            break;
        default:
            <input class="form-control" name="answer" type="text" placeholder="Введите ответ">
            break;
    }
    <button type="submit" class="btn btn-success answer">Отправить</button>
    <button type="button" class="btn btn-danger skip" title="Вы не потеряете очки">Я не знаю ответ</button>
</form>