@{
    ViewData["Title"] = "Game";
}

<table id="game-grid">
    <caption>Раунд I: Царь-реформатор</caption>
    <tbody>
    <tr>
        <th scope="row">Окружение Петра I</th>
        <td>100</td>
        <td class="completed">200</td>
        <td>300</td>
        <td>400</td>
        <td>500</td>
    </tr>
    <tr>
        <th scope="row">Мифы и легенды</th>
        <td>100</td>
        <td>200</td>
        <td class="completed">300</td>
        <td class="completed">400</td>
        <td>500</td>
    </tr>
    <tr>
        <th scope="row">Разносторонний правитель</th>
        <td>100</td>
        <td>200</td>
        <td>300</td>
        <td>400</td>
        <td>500</td>
    </tr>
    <tr>
        <th scope="row">Дела семейные</th>
        <td>100</td>
        <td>200</td>
        <td>300</td>
        <td>400</td>
        <td>500</td>
    </tr>
    <tr>
        <th scope="row">Дела военные</th>
        <td>100</td>
        <td>200</td>
        <td>300</td>
        <td>400</td>
        <td>500</td>
    </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/game.js" asp-append-version="true"></script>
}