$bgColor: #084298;
$yellowShadowColor: #ffc107a0;

#game-grid {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: .5rem;

    caption {
        caption-side: top;
        text-align: center;
        color: inherit;
        font-size: 2rem;
        font-weight: bold;
        padding: 0 0 .5rem;
    }

    th, td {
        background-color: $bgColor;
        padding: 1rem;
    }

    th {
        width: 30%;
        text-transform: uppercase;
        word-break: break-word;
        font-size: 1.5rem;
    }

    td {
        color: var(--bs-yellow);
        font-weight: bold;
        font-size: 3rem;
        user-select: none;

        &.completed {
            filter: contrast(0.5);
        }

        &:not(.completed) {
            cursor: pointer;
            text-shadow: 0 0 1.5rem $yellowShadowColor;

            &:hover {
                background: darken($bgColor, 7%);
            }
        }
    }
}

#question, #answer {
    display: none;

    .content {
        border: 3px solid gray;
        background-color: $bgColor;
        border-radius: 10px;
        padding: .5em;

        .picture {
            display: none;
            max-width: 80%;
            max-height: 30em;
            margin: auto;
        }

        .text {
            font-size: 2.5em;
            color: var(--bs-yellow);
            text-shadow: 0 0 .5em $yellowShadowColor;
            margin: 0;
        }
    }

    button {
        margin: 1.5em 1em 0;
        padding: .6em 1em;
        font-size: min(1vmin + 1vmax, 16px);
    }
}

#game-finished, #win, #lose {
    color: var(--bs-yellow);
    font-size: 3em;
    padding: .5em;
    text-shadow: 0 0 .5em $yellowShadowColor;
}

#answer .status {
    font-size: 2em;
    display: none;
}

#score-container {
    text-align: right;
    font-size: 2.7em;

    .score {
        font-weight: bold;
    }
}

#answer-input {
    display: none;

    input {
        margin-top: 1em;
        font-size: 2em;
        border-radius: 10px;

        transform: scale(.993, .94);
        transition: transform .5s, opacity .25s;

        &:focus {
            border-color: var(--bs-yellow);
            outline: 0;
            box-shadow: 0 0 .25em .05em $yellowShadowColor;
        }
    }
}
