$bodyColor: #031633;

:root {
    --bs-body-color: var(--bs-white);
    --bs-secondary: var(--bs-gray-500);
    font-size: calc(1vmin + .15em);
}

html, body {
    height: 100%;
}

html {
    background: radial-gradient($bodyColor, mix($bodyColor, black, 60%), black);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

header {
    margin-top: .5em;
    margin-bottom: auto;
}

footer {
    margin-top: auto;

    a {
        color: var(--bs-white);

        &:hover {
            color: var(--bs-gray-300);
        }
    }
}

.copyleft {
    &:after {
        content: "\00a9";
    }

    display: inline-block;
    transform: scale(-1, 1);
}

input, label {
    color: #212529;
}

#play-form {
    max-width: 40em;
    margin: auto;

    input, .or {
        font-size: 2em;
    }

    [name=invite-code]:not(:placeholder-shown) {
        text-transform: uppercase;
        font-family: monospace;
    }

    .or {
        align-self: center;
    }
}

#create-btn {
    width: 100%;
    height: 100%;
    font-size: 1.25em;
}